.footer-bg{
  background-color: #1A1A1A;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.un-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-icon{
  color: #A9A9A9;
  border: 1px solid #A9A9A9;
  height: 40px;
  width: 40px;
  font-size: 23px;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}